.flex-container {
	width: 50%;
	min-height: 1000vh;
	margin: 100px;

	
	
}
.layout {
	display: flex;
	background-color: powderblue;
	width: 97%;
	height: 5vh;
	margin: 10px;
	
}
.lay {
	background-color: powderblue;
	width: 97%;
	height: 20vh;
	margin: 10px;
}
.c {
	display: flex;
	justify-content: space-around;
	
	
}
.c > div {
	background-color: powderblue;
	width: 35%;
	height: 20vh;
	margin: 10px;
}
.footer {
	background-color: powderblue;
	width: 97%;
	height: 5vh;
	margin: 10px;
}